.demo1{
    background: red;
    height: 100px;
    width: 100px;
    
}
.demo2{
    background: yellowgreen;
    height: 100px;
    width: 100px;
    
}
.demo3{
    background: tomato;
    height: 100px;
    width: 100px;
    
}